<div class="w-100 h-100 d-flex justify-content-center align-items-center">
  <div
    class="errBox text-white d-flex justify-content-center align-items-center flex-column"
  >
    <h1 class="errStatus">404</h1>
    <p>{{errorMsg}}</p>
  </div>
</div>